* {
  margin: 0;
}

div#main {
  background: #333333;
  color: #c0bab6;
}

div#wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
  padding: 20px 0;
}

div#hgroup {
  float: left;
}
div#nav {
  float: right;
  padding: 20px 0;
}
li {
  float: left;
  margin-right: 30px;

  list-style-type: none;
}

div#nav {
  float: right;
  background: #232323;
}
