div.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.row1,
.row1 a {
  color: #c0bab6;
  background-color: #333333;
}

#header {
  display: block;
  width: 960px;
  margin: 0 auto;
}

#header #hgroup {
  float: left;
  margin: 0 0 20px 0;
}

#header {
  padding: 20px 0;
}

#header #hgroup h1,
#header #hgroup h2 {
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}
#header #hgroup h1 {
  font-size: 36px;
}
#header #hgroup h2 {
  font-size: 13px;
}

#header nav {
  display: block;
  float: right;
  margin: 10px 0 0 0;
  padding: 20px 0;
  color: #c0bab6;
  background-color: #232323;
}
#header nav ul {
  padding: 0 20px;
}
#header nav li {
  display: inline;
  margin-right: 25px;
  text-transform: uppercase;
}
#header nav li.last {
  margin-right: 0;
}
#header nav li a {
  color: #c0bab6;
  background-color: #232323;
}
#header nav li a:hover {
  color: #ff9900;
  background-color: #232323;
}
