<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"># ID</th>
            <th scope="col">Email</th>
            <th scope="col">User Name</th>
            <th scope="col">Password</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>
              <button (click)="editUser()" class="btn btn-warning">Edit</button>
            </td>
            <td>
              <button (click)="deleteUser(i)" class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>User Name</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
